/* Text ------------------------------------------------*/
.basicModal p {

	width: calc(100% - 60px);
	padding: 30px;
	color: #444;
	text-align: center;
	line-height: 22px;

	a {
		color: $basicModal__color;
		text-decoration: none;
		border-bottom: 1px dashed rgba($basicModal__color, .8);
	}

}