/* Dropdown ------------------------------------------------*/
.basicModal .basicModal__dropdown {

	float: left;
	position: relative;
	margin: 0 5% 1px;
	width: 90%;
	color: #333;
	text-align: left;
	user-select: none;

	&.flip {
		.front {
			transform: scaleY(0);
			opacity: 0;
		}
		.back {
			transform: scaleY(1);
			opacity: 1;
		}
		.front.text {
			transform: scaleY(2);
			opacity: 0;
		}
		.back.text {
			transform: scaleY(1);
			opacity: 1;
		}
	}

	span {
		margin-left: 14px;
		height: inherit;
		font-weight: 400;
		line-height: 46px;
	}

	.front,
	.back { transition: transform $basicModal__sDuration $basicModal__timing, opacity $basicModal__sDuration $basicModal__timing; }

	.front {
		height: 46px;
		background-color: rgba(0, 0, 0, .08);
		backface-visibility: hidden;
		cursor: pointer;
		transition: background-color $basicModal__sDuration;

		&::after {
			content: '';
			position: absolute;
			top: 21px;
			right: 14px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid rgba(0, 0, 0, .5);
		}

		&:hover { background-color: rgba(0, 0, 0, .13); }
	}

	&:first-of-type .front {
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	&:last-of-type .front {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	&.error .front { background-color: rgba(255, 36, 16, 0.2); }

	.back {
		display: none;
		position: absolute;
		top: -80px;
		width: 100%;
		transform: scaleY(0);
		opacity: 0;
		backface-visibility: hidden;
		z-index: 1;
	}

	ul {
		width: calc(100% - 28px);
		padding: 10px 14px;
		background-color: rgba(255, 255, 255, .98);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
		border-radius: 2px;
		list-style: none;

		li {
			color: $basicModal__color;
			line-height: 30px;
			cursor: pointer;
			transition: color .2s;

			span {
				display: block;
				margin: -5px 0 10px 0;
				padding: 0;
				width: 100%;
				color: rgba(0, 0, 0, .4);
				line-height: 20px;
				transition: color .2s;
			}

			&:last-child span { margin-bottom: 5px; }

			&.separator {
				width: 100%;
				height: 1px;
				background-color: rgba(0, 0, 0, .1);
				margin: 6px 0;
				cursor: inherit;
			}

			&:hover {
				color: darken($basicModal__color, 20%);

				span { color: rgba(0, 0, 0, .6); }
			}
		}
	}

}