/* Colors ------------------------------------------------*/
$cMain: #CA5858 !default;
$cRed: #FF2410 !default;
$cGreen: #09C845 !default;

/* Vars ------------------------------------------------*/
$duration: .3s !default;
$sDuration: .2s !default;
$timing: cubic-bezier(0.51,.92,.24,1.15) !default;

/* Mixins ------------------------------------------------*/
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	#{$property}: $value;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@-ms-keyframes $animation-name {
		@content;
	}
	@-o-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
}