/* Dropdown ------------------------------------------------*/
.modal .dropdown {
	float: left;
	position: relative;
	margin: 5px 5% 2px 5%;
	width: 90%;
	color: #333;
	text-align: left;
	user-select: none;

	&.flip {
		.front {
			transform: scaleY(0);
			opacity: 0;
		}
		.back {
			transform: scaleY(1);
			opacity: 1;
		}
		.front.text {
			transform: scaleY(2);
			opacity: 0;
		}
		.back.text {
			transform: scaleY(1);
			opacity: 1;
		}
	}

	span {
		margin-left: 14px;
		height: inherit;
		font-weight: 400;
		line-height: 46px;
	}

	.front,
	.back {
		transition: transform $sDuration $timing, opacity $sDuration $timing;
	}

	.front {
		height: 46px;
		background-color: rgba(0, 0, 0, .05);
		backface-visibility: hidden;
		border-radius: 2px;
		cursor: pointer;

		&:after {
			content:"";
			position: absolute;
			top: 21px;
			right: 14px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid rgba(0, 0, 0, .5);
		}

		&:hover {
			background-color: rgba(0, 0, 0, .1);
		}
	}

	.back {
		display: none;
		position: absolute;
		top: -80px;
		width: 100%;
		transform: scaleY(0);
		opacity: 0;
		backface-visibility: hidden;
		z-index: 1;
	}

	ul {
		width: calc(100% - 28px);
		padding: 10px 14px;
		background-color: rgba(255, 255, 255, .98);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
		border-radius: 2px;
		list-style: none;

		li {
			color: $cMain;
			line-height: 30px;
			cursor: pointer;
			transition: color .2s;

			span {
				display: block;
				margin: -5px 0 10px 0;
				padding: 0;
				width: 100%;
				color: rgba(0, 0, 0, .4);
				line-height: 20px;
				transition: color .2s;
			}

			&:last-child span {
				margin-bottom: 5px;
			}

			&.separator {
				width: 100%;
				height: 1px;
				background-color: rgba(0, 0, 0, .1);
				margin: 6px 0px;
				cursor: inherit;
			}

			&:hover {
				color: darken($cMain, 20%);

				span {
					color: rgba(0, 0, 0, .6);
				}
			}
		}
	}
}