/* Login ------------------------------------------------*/
.modal.login {
	position: relative;
	max-width: 340px;
	text-align: center;

	h1,
	h2 {
		width: 100%;
		font-weight: 400;
	}

	h1 {
		margin: 60px 0 0 0;
		color: rgba(0,0,0,.8);
		font-size: 28px;
	}

	h2 {
		margin: 6px 0 30px 0;
		color: rgba(0,0,0,.4);
		font-size: 12px;
	}

	p {
		width: 80%;
		padding: 10px 10% 18px;
	}

	input.text {
		float: left;
		width: calc(90% - 28px);
		padding: 14px;
		margin: 0px 5% 1px;
		background-color: rgba(0,0,0,.08);
		color: #333;
		border: none;
		border-radius: 0px;
		outline: none;
		transition: background-color $sDuration;

		&:focus {
			background-color: rgba(0, 0, 0, 0.13);
		}

		&.error {
			background-color: rgba(255, 36, 16, 0.2);
		}

		&:first-of-type {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		&:last-of-type {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}

	.button#action {
		margin: 35px 5% 5% 5%;
		width: 90%;
	}

	.button#cancel {
		position: absolute;
		top: -8px;
		right: -8px;
		margin: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		background-color: #fff;
		font-weight: normal;
		border-radius: 100px;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);

		&::after {
			content: '';
			position: absolute;
			width: 35px;
			height: 38px;
			background: #fff;
			left: -3px;
			top: 8px;
		}

		a {
			position: relative;
			color: #888;
			text-decoration: none;
			line-height: 39px;
			z-index: 1;
			transition: color $sDuration;

			&:hover { color: $cMain; }
			&:active { color: darken($cMain, 5%); }
		}
	}
}