/* Colors ----------------------------------------------------*/
$basicModal__color: #CA5858 !default;

/* Vars ------------------------------------------------------*/
$basicModal__zIndex:	1000 !default;
$basicModal__duration:	.3s !default;
$basicModal__sDuration:	.2s !default;
$basicModal__timing:	cubic-bezier(.51, .92, .24, 1.15) !default;

/* Files -----------------------------------------------------*/
@import 'animations';
@import 'container';
@import 'modal';

/* Components ------------------------------------------------*/
@import 'components/text';
@import 'components/button';
@import 'components/dropdown';

/* Themes ----------------------------------------------------*/
@import 'themes/login';